<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <p>This tutorial has been together by {{ name }}</p>
    <img src="{{ MEDIA_URL }}kitten.jpg" alt="kitten">
</body>
</html>