<!DOCTYPE html> 
{% load staticfiles %} 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>